* {
    font-family: FontAwesome, MesloLGS NF, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: {{ background }};
    border-bottom: 3px solid  {{ background }};
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty { 
    background-color: transparent; 
} 
window#waybar.solo { 
    background-color: {{ background }};
} 

window#waybar.termite {
    background-color: {{ color15 }};
}

window#waybar.chromium {
    background-color: {{ color0 }};
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: {{ foreground }};
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    /* border: none; */
    border-radius: 5;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: {{ comment }};
    box-shadow: inset 0 -3px {{ color7 }};
}

#workspaces button.focused {
    background-color: {{ current_line }};
    box-shadow: inset 0 -3px {{ color7 }};
}

#workspaces button.urgent {
    background-color: {{ background }};
}

#mode {
    background-color: {{ background }};
    border-bottom: 3px solid {{ color7 }};
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    color: {{ foreground }};
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: {{ current_line }};
}

#disk {
    background-color: {{ background }};
}

#pulseaudio {
    background-color: {{ background }};
    color: {{ foreground }};
    border-bottom: 3px solid  {{ color1 }};
}

#pulseaudio.muted {
    background-color: {{ background }};
    color: {{ foreground }};
}

#backlight {
    background-color: {{ background }};
    border-bottom: 3px solid  {{ color2 }};
}

#memory {
    background-color: {{ background }};
    border-bottom: 3px solid  {{ color3 }};
}

#cpu {
    background-color: {{ background }};
    color: {{ foreground }};
    border-bottom: 3px solid  {{ color4 }};
}

#temperature {
    background-color: {{ background }};
    border-bottom: 3px solid  {{ color5 }};
}

#temperature.critical {
    background-color: {{ background }};
    border-bottom: 3px solid  {{ color1 }};
}

#keyboard-state {
    background-color: {{ background }};
    color: {{ foreground }};
    border-bottom: 3px solid  {{ color6 }};
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background-color: {{ background }};
}

#battery {
    background-color: {{ background }};
    color: {{ foreground }};
    border-bottom: 3px solid  {{ color7 }};
}

#battery.charging, #battery.plugged {
    background-color: {{ background }};
    color: {{ color6 }};
}

@keyframes blink {
    to {
        background-color: {{ background }};
        color: {{ foreground }};
    }
}

#battery.critical:not(.charging) {
    background-color: {{ background }};
    color: {{ color1 }};
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    background-color: {{ background }};
    border-bottom: 3px solid  {{ comment }};
}

#network.disconnected {
    background-color: {{ background }};
    color: {{ color1 }};
    border-bottom: 3px solid  {{ color11 }};
}

#clock {
    background-color: {{ background }};
    color: {{ foreground }};
    border-bottom: 3px solid  {{ current_line }};
}

#custom-media {
    background-color: {{ background }};
    color: {{ foreground }};
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: {{ background }};
}

#custom-media.custom-vlc {
    background-color: {{ background }};
}

#tray {
    background-color: {{ background }};
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: {{ background }};
}

#idle_inhibitor {
    background-color: {{ background }};
}

#idle_inhibitor.activated {
    background-color: {{ background }};
    color: {{ foreground }};
}

#mpd {
    background-color: {{ background }};
    color: {{ foreground }};
}

#mpd.disconnected {
    background-color: {{ background }};
}

#mpd.stopped {
    background-color: {{ background }};
}

#mpd.paused {
    background-color: {{ background }};
}

#language {
    background-color: {{ background }};
    color: {{ foreground }};
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-cava {
    background-color: {{ background }};
    color: {{ color2 }};
    border-bottom: 3px solid  {{ current_line }};
    min-width: 100px;
}

#custom-status_player {
    background-color: {{ background }};
    color: {{ foreground }};
    border-bottom: 3px solid  {{ color2 }};
    min-width: 100px;
}
