/* @import url("../themes/dracula.css"); */
/* @import url("../themes/everforest_alt.css"); */
/* @import url("../themes/everforest.css"); */
@import url("../themes/gruvbox_dark.css");
/* @import url("../themes/nord.css"); */
/* @import url("../themes/onedark.css"); */
/* @import url("../themes/papercolor.css"); */
/* @import url("../themes/papercolor_dark.css"); */
/* @import url("../themes/papercolor_light.css"); */
/* @import url("../themes/papercolor_serpia.css"); */
/* @import url("../themes/selenized_black.css"); */
/* @import url("../themes/solarized_dark.css"); */

* {
    font-family: 'Noto Sans Mono', 'Font Awesome 6 Free', 'Font Awesome 6 Brands', monospace;
    /* font-family: JetBrainsMono Nerd Font, FontAwesome, MesloLGS NF, Helvetica, Arial, sans-serif; */
    font-size: 15px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: @current_line;
}

/* General Modules */

#backlight,
#backlight {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color3;
}

#battery,
#battery {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color5;
}
#battery.charging, #battery.plugged {
    background-color: @background;
    color: @color5;
}
@keyframes blink {
    to {
        background-color: @background;
        color: @foreground;
    }
}
#battery.critical:not(.charging) {
    background-color: @background;
    color: @color1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth,
#bluetooth {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color1;
    min-width: 40px;
}

#clock,
#clock {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @current_line;
}

#cpu,
#cpu {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color4;
}

#disk,
#disk {
    background-color: @background;
}

#idle_inhibitor,
#idle_inhibitor {
    background-color: @background;
}

#idle_inhibitor.activated {
    background-color: @background;
    color: @foreground;
}

#keyboard-state,
#keyboard-state {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color6;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}
#keyboard-state > label {
    padding: 0 5px;
}
#keyboard-state > label.locked {
    background-color: @background;
}

#language,
#language {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color6;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#memory,
#memory {
    background-color: @background;
    border-bottom: 3px solid @color3;
}

#mode,
#mode {
    background-color: @background;
    border-bottom: 3px solid @color7;
}

#mpd,
#mpd {
    padding: 0 10px;
    color: @foreground;
}
#mpd {
    background-color: @background;
    color: @foreground;
}
#mpd.disconnected {
    background-color: @background;
}
#mpd.stopped {
    background-color: @background;
}
#mpd.paused {
    background-color: @background;
}

#network,
#network {
    background-color: @background;
    border-bottom: 3px solid @comment;
}
#network.disconnected {
    background-color: @background;
    color: @color1;
    border-bottom: 3px solid @color11;
}

#pulseaudio,
#pulseaudio {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color2;
}
#pulseaudio.muted {
    background-color: @background;
    color: @foreground;
}

#temperature,
#temperature {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color4;
}
#temperature.critical {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color4;
}

#tray,
#tray {
    background-color: @background;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @background;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#window,
window#waybar {
    background-color: @background;
    border-bottom: 0px solid @background;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    opacity: 0.9;
}
window#waybar.chromium {
    background-color: @color0;
    border: none;
}
window#waybar.empty {
    background-color: @background;
}
window#waybar.hidden {
    opacity: 0.2;
}
window#waybar.solo {
    background-color: @background;
}
window#waybar.termite {
    background-color: @color15;
}

#workspaces,
#workspaces {
    margin: 0 4px;
}
#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    /* border: none; */
    border-radius: 5px;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button.active {
    background: @current_line;
    box-shadow: inset 0 -3px @color3;
}
#workspaces button.focused {
    background-color: @current_line;
    box-shadow: inset 0 -3px @color7;
}
#workspaces button.hover {
    background: @comment;
    box-shadow: inset 0 -3px @color7;
}
#workspaces button.urgent {
    background-color: @background;
}

/* Custom modules */

#custom-b_level,
#custom-b_level {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color2;
    min-width: 40px;
}

#custom-cava,
#custom-cava {
    background-color: @background;
    color: @color2;
    border-bottom: 3px solid @current_line;
    min-width: 100px;
}

#custom-cava_sh,
#custom-cava_sh {
    background-color: @background;
    color: @color2;
    border-bottom: 0px solid @current_line;
    min-width: 100px;
}

#custom-media,
#custom-media {
    background-color: @background;
    color: @foreground;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @background;
}

#custom-media.custom-vlc {
    background-color: @background;
}

#custom-network,
#custom-network {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color2;
    min-width: 40px;
}

#custom-power,
#custom-power {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color6;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-status_player,
#custom-status_player {
    background-color: @background;
    color: @foreground;
    border-bottom: 3px solid @color2;
    min-width: 100px;
}
